{% extends "base.html" %}


{% block js %}
{% endblock %}

{% block main %}
      <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <center>
              <div class="navbar-collapse collapse" id="navbar-main">
                  <ul class="nav navbar-nav">
                      <li class="" id="menu">
                        <a href="{{url_for('profile_create')}}"><span class="glyphicon glyphicon-home"></span> Create Profile</a>
                      </li>
                      <li class="" id="menu">
                        <a href="{{url_for('profiles_list')}}"><span class="glyphicon glyphicon-list-alt"></span> Show Profiles</a>
                      </li>
                  </ul>
                  <form class="navbar-form navbar-right" role="form">
                      <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                      </div>
                      <div class="form-group">
                          <input type="password" class="form-control" name="password" placeholder="Password">
                      </div>
                    <button type="submit" class="btn btn-success">Sign In</button>
                  </form>
              </div>
          </center>
      </div>
  </div>
<br/>
<br/>
<br/>
<br/>
    <div class="container">
      <h1>CREATE A NEW PROFILE</h1>
      <p>Please enter your particulars below:</p>
      <hr />
      <div style="background-color:#eee; padding-left:100px; padding-top:30px; box-sizing: border-box; width: 460px; height: 400px;">
          <form action="{{ url_for('profile_create') }}" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            First Name:<br /> {{ form.first_name(size=30) }}<br />
            Last Name:<br /> {{ form.last_name(size=30)  }}<br />
            Age:<br /> {{ form.age(size=5)  }}<br />
            Sex:<br /> {{ form.sex }}<br />
            Image:<br /> {{ form.image }}<br />
            <input class="btn btn-success" type="submit" />

          </form>
       </div>
      
    </div>
{% endblock %}